
/* .c-p-image{
    height: 45vh;
}
@media only screen and (min-width: 100px) and (max-width: 440px) {
    .img{
        height: 20vh;
        
    }
} */ 


.c-page{
    padding: 4vw;
}
.p-unset{
    padding: 0;
}
.p-cont{
    text-align: center;
}


.remove-btn{
    background-color: red;
    color: white;
    border: none;
    padding: 1vw 2vw;
    border-radius: 8px;
    font-weight: bold;
}
.btn-cont{
    display: flex;
    column-gap: 20px;
    justify-content: center;


}
.e-c-a{
    text-align: center;
    font-size: 20px;
}
