.header{
    height: 70px;
    width: 100%;
    margin-bottom: 60px;
    background-color: white;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
  
}
.s-input{
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
.s-input::placeholder{
    padding-left: 10px;
}
.search{
    display: flex;
}
.s-icon{
    border: 2px solid black;
    width: 40px;
    display: flex;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.s-input{
    margin-right: 2px;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .s-input{
        display: none;
    }
    .s-icon{
        display: none;
    }
    .shop-head{
        margin-left: 26vw;
    }
   
  }
  